api/dist
api/node_modules
backend/build
backend/dist
backend/node_modules
backend/package-lock.json
frontend/dist
frontend/node_modules
frontend/package-lock.json
frontend_angular/node_modules

npm-debug.log
